<header class="masthead" style="height: 900px; padding-top: 5rem; height:auto;">
    <div class="container px-4 px-lg-5 h-100">
        <%= link_to 'Back', root_path, class: "btn btn-primary" %>   
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Edit User</h1>
                <hr class="divider" />
            </div>
            <div class="container" style="padding-right: 25%; padding-left: 25%;">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="field">
                  <%= f.label :name , class: "text-white font-weight-bold"%><br />
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
                </div>
                <div class="field">
                  <%= f.label :email , class: "text-white font-weight-bold"%><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%>
                </div>
                
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="field">
                  <%= f.label :password , class: "text-white font-weight-bold"%> <i>(leave blank if you don't want to change it)</i><br />
                  <%= f.password_field :password, autocomplete: "new-password" , class: "form-control"%>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation , class: "text-white font-weight-bold"%><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control"%>
                </div>

                <div class="field">
                  <%= f.label :current_password, class: "text-white font-weight-bold" %> <br />
                  <%= f.password_field :current_password, autocomplete: "current-password" , class: "form-control"%>
                </div>
                <br>
                <div class="actions">
                  <%= f.submit "Update" , class: "btn btn-primary btn-xl"%>
                </div>
              <% end %>

              <h3  class="text-white font-weight-bold">Cancel my account</h3>

              <p  class= "text-white font-weight-bold">Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>
          </div>
      </div>
    </div>
</header>

