<header class="masthead" style="padding-top: 5rem; height:auto;">
    <div class="container px-4 px-lg-5 h-100">
        <%= link_to 'Back', root_path, class: "btn btn-primary" %>   
        <div class="row gx-4 gx-lg-5 h-100  justify-content-center ">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold text-center">Signup</h1>
                <hr class="divider" />
            </div> 
            <div class="container" style="padding-right: 25%; padding-left: 25%;">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="field">
                  <%= f.label :name, class: "text-white font-weight-bold" %><br />
                  <%= f.text_field :name, autofocus: true, autocomplete: "name",class: "form-control" %>
                </div>
                <div class="field">
                  <%= f.label :email, class: "text-white font-weight-bold" %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "form-control" %>
                </div>
                <div class="field">
                  <%= f.label :user_type, class: "text-white font-weight-bold" %><br />
                  <%= f.select :user_type, options_for_select(["manager", "developer", "qa"]), {prompt: 'Select Role'} ,class: "form-select" %>
                </div>
                <div class="field">
                  <%= f.label :password, class: "text-white font-weight-bold" %>
                  <br>
                  <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control" %>
                </div>

                <div class="field">
                  <%= f.label :password_confirmation , class: "text-white font-weight-bold"%><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control"  %>
                </div>
                <br>
                <div class="actions text-center">
                  <%= f.submit "Sign up",class: "btn btn-primary btn-xl " %>
                </div>
              <% end %>
          </div>
            <%= render "devise/shared/links" %>
        </div>
    </div>
</header>