<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <div class="alert alert-danger" role="alert">
            <li><%= error.full_message %></li>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title , class: "text-white font-weight-bold"%>
    <br>
    <%= form.text_field :title  %>
  </div>

  <div class="field">
    <%= form.label :manager , class: "text-white font-weight-bold"%>
    <br>
    <%= form.text_field :manager %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit 'Save',class: "btn btn-primary btn-xl" %>
  </div>
<% end %>
