<h1>New Bug</h1>

  <%= form_with(scope: :bug, url: create_bug_projects_path, method: "post", html: {style: 'text-align: center'}) do |form|%>
  <%= hidden_field :project_id, value: @project.id%>
  <%= form.hidden_field :status, value: 'new'%>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>
  <div class="field">
    <%= form.label :screenshot %>
    <%= form.file_field :screenshot %>
  </div>
  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline %>
  </div>

  <div class="field">
    <%= form.label :kind %>
    <%= form.select :kind, ['Bug','Feature'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
