<style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }
  table, td, th {
    border: 1px solid #ddd;
    text-align: left;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    padding: 15px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
</style>
<h1 style="text-align: center">Add Developer in <%= @project.title %></h1>



<%= link_to 'Home', root_path, {style: 'float: right; padding-right: 10%'} %>
<br><br>

<table style="margin-left: 20%; width: 60%">
  <thead>
  <tr>
    <th>Developers</th>
    <th colspan="1">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @developer.each do |developer| %>
    <tr>
      <%= form_with(url: "/projects/#{@project.id}/add_user", method: "post", html: {style: 'text-align: center'}) do |f|%>
        <%= f.hidden_field :user_id , value: developer.id%>

      <input type="hidden" name="user_id" value="<%= developer.id %>">
        <td><%= developer.name %></td>
        <td>
          <%= f.submit 'Add to Project'%>
        </td>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>
<h1 style="text-align: center">Add QA in <%= @project.title %></h1>
<table style="margin-left: 20%; width: 60%">
  <thead>
  <tr>
    <th>QAs</th>
    <th colspan="1">Action</th>
  </tr>
  </thead>

  <tbody>
  <% @qa.each do |qa| %>
    <tr>
      <%= form_with(url: "/projects/#{@project.id}/add_user", method: "post", html: {style: 'text-align: center'}) do |f|%>
        <%= f.hidden_field :user_id , value: qa.id%>

      <input type="hidden" name="user_id" value="<%= qa.id %>">
        <td><%= qa.name %></td>
        <td>
          <%= f.submit 'Add to Project'%>
        </td>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>