<div class="container">
  <br>
  <h1>New Bug</h1>

    <%= form_with(scope: :bug, url: create_bug_projects_path, method: "post") do |form|%>
    <%= hidden_field :project_id, value: @project.id%>
    <%= form.hidden_field :status, value: 'new'%>
    <div class="field">
      <%= form.label :title , class: "form-label" %>
      <%= form.text_area :title , class: "form-control"%>
    </div>

    <br>

    <div class="field">
      <%= form.label :screenshot , class: "form-label"%>
      <%= form.file_field :screenshot , class: "form-control"%>
    </div>

    <br>

    <div class="field">
      <%= form.label :deadline , class: "form-label"%>
      <br>
      <%= form.datetime_select :deadline , class: "form-control"%>
    </div>

    <br>

    <div class="field">
      <%= form.label :kind , class: "form-label"%>
      <br>
      <%= form.select :kind, ['Bug','Feature'], class: "form-select"%>
    </div>

    <br>

    <div class="actions">
      <%= form.submit 'Add',class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>