
<h1 class="font-weight-bold" style="text-align: center; color: black;"><%= current_user.name.humanize %>'s Projects</h1>

<table class="table table-striped table-hover table-bordered" style="background-color: white;">
  <thead class="thead-dark">
    <tr>
      <th>Project</th>
      <% unless current_user.manager? %>
      <th>Manager</th>
      <%  end %>
      <th>Developers</th>
      <th>QAs</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <% unless current_user.manager? %>
          <td><%= project.manager %></td>
        <%  end %>
        <td><ul><% project.users.developers.each do |developer|%><li><%= developer.name.capitalize %></li><%end%></ul></td>
        <td><ul><% project.users.qas.each do |qa|%><li><%= qa.name.capitalize %></li><%end%></ul></td>
        <td><%= link_to 'Show', project if current_user.manager?%>
          <%= link_to 'Project Bugs', project_bugs_path(project) if current_user.qa?%>
          <%= link_to 'Show', project_bugs_path(project) if current_user.developer?%></td>
        <td><%= link_to 'Add User', add_user_path(project.id) if current_user.manager?%></td>
        <td><%= link_to 'Edit', edit_project_path(project) if current_user.manager?%></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } if current_user.manager?%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'My Bugs Bucket', bugs_bucket_projects_path, class: "btn btn-primary btn-xl" if current_user.developer?%>
<%= link_to 'New Project', new_project_path,class: "btn btn-primary btn-xl" if current_user.manager?%>
