<% unless notice.nil? %>
  <div class="alert alert-success">
    <%= notice %>
  </div>
<% end %>
<br>
<h1>Projects</h1>

<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Project</th>
      <th>Manager</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.title %></td>
        <td><%= project.manager %></td>
        <td><%= link_to 'Show', project if current_user.manager?%><%= link_to 'Show',qa_show_path(project) if current_user.qa?%><%= link_to 'Show',developer_show_path(project) if current_user.developer?%></td>
        <td><%= link_to 'Add User', add_user_path(project.id) if current_user.manager?%></td>
        <td><%= link_to 'Edit', edit_project_path(project) if current_user.manager?%></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } if current_user.manager?%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'My Bugs Bucket', bugs_bucket_projects_path if current_user.developer?%>
<%= link_to 'New Project', new_project_path if current_user.manager?%>
