
<h1>New Bugs</h1>
<% @new_bugs.each do |bug| %>
<p>
  <strong>Title:</strong>
  <%= bug.title %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= bug.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= bug.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= bug.kind %>
</p>
<p>
  <strong>Screenshot:</strong>
  <%= image_tag bug.screenshot.variant(resize: "300x300") if bug.screenshot.attached?  %>
</p>
<% end%>
<h1>Assigned Bugs</h1>
<% @assigned_bugs.each do |bug| %>
<p>
  <strong>Title:</strong>
  <%= bug.title %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= bug.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= bug.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= bug.kind %>
</p>
<p>
  <strong>Screenshot:</strong>
  <%= image_tag bug.screenshot.variant(resize: "300x300") if bug.screenshot.attached? %>
</p>
<% end%>
<h1>Completed Bugs</h1>
<% @completed_bugs.each do |bug| %>
<p>
  <strong>Title:</strong>
  <%= bug.title %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= bug.deadline %>
</p>

<p>
  <strong>Status:</strong>
  <%= bug.status %>
</p>

<p>
  <strong>Type:</strong>
  <%= bug.kind %>
</p>
<p>
  <strong>Screenshot:</strong>
  <%= image_tag bug.screenshot.variant(resize: "300x300") if bug.screenshot.attached? %>
</p>
<%= link_to 'Destroy', bug, method: :delete %>
<% end%>
<%= link_to 'Add Bug', add_bug_path(@project.id) %>
<%= link_to 'Back', projects_path %>