
<h1>New Bugs</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @new_bugs.each do |bug| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <%= image_tag url_for(bug.screenshot) , class: "card-img-top"  if bug.screenshot.attached? %>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text"><%= bug.title %></p>
            <h5 class="card-title">Type</h5>
            <p class="card-text"><%= bug.kind %></p>
            <h5 class="card-title">Deadline</h5>
            <p class="card-text"><%= bug.deadline %></p>
            <h5 class="card-title">Status</h5>
            <p class="card-text"><%= bug.status %></p>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>
<br>
<h1>Assigned Bugs</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @assigned_bugs.each do |bug| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <%= image_tag url_for(bug.screenshot) , class: "card-img-top"  if bug.screenshot.attached? %>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text"><%= bug.title %></p>
            <h5 class="card-title">Type</h5>
            <p class="card-text"><%= bug.kind %></p>
            <h5 class="card-title">Deadline</h5>
            <p class="card-text"><%= bug.deadline %></p>
            <h5 class="card-title">Status</h5>
            <p class="card-text"><%= bug.status %></p>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>
<br>
<h1>Completed Bugs</h1>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% @completed_bugs.each do |bug| %>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <%= image_tag url_for(bug.screenshot) , class: "card-img-top"  if bug.screenshot.attached? %>
          <div class="card-body">
            <h5 class="card-title">Title</h5>
            <p class="card-text"><%= bug.title %></p>
            <h5 class="card-title">Type</h5>
            <p class="card-text"><%= bug.kind %></p>
            <h5 class="card-title">Deadline</h5>
            <p class="card-text"><%= bug.deadline %></p>
            <h5 class="card-title">Status</h5>
            <p class="card-text"><%= bug.status %></p>
            <%= link_to 'Destroy', bug, method: :delete , class: "btn-btn-secondary"%>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>

<%= link_to 'Add Bug', add_bug_path(@project.id) %>
<%= link_to 'Back', projects_path %>
