<header class="masthead" style="padding-top: 5rem; height: auto;">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold"><%= @project.title.capitalize %></h1>
                <hr class="divider" />
            </div> 
            <strong class= "text-white font-weight-bold">Manager:</strong>
            <p class= "text-white font-weight-bold"><%= @project.manager%></p>
            <%= form_with(url: "/projects/#{@project.id}/remove_user", method: "post", html: {style: 'text-align: center'}) do |f|%>
            <strong class= "text-white font-weight-bold">Developers</strong>
            <% if @developers.count>0 %>
              <table class="table table-striped table-hover table-bordered" style="background-color: white">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th colspan="1"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @developers.each do |developer| %>
                    <tr>
                      <td><%= developer.name.capitalize %></td>
                      <%= f.hidden_field :user_id, value: developer.id %>
                      <td> <%= f.submit 'Remove', class: "btn btn-danger"%></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <%else%>
              <h5 class="text-white font-weight-bold">There are no developers in this project.</h5> 
            <%end%>
            <% end %>
            <strong class= "text-white font-weight-bold">QAs</strong>
            <%= form_with(url: "/projects/#{@project.id}/remove_user", method: "post", html: {style: 'text-align: center'}) do |f|%>
            <% if @qas.count>0 %>
              <table class="table table-striped table-hover table-bordered" style="background-color: white">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th colspan="1"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @qas.each do |qa| %>
                    <tr>
                      <td><%= qa.name.capitalize %></td>
                      <%= f.hidden_field :user_id, value: qa.id %>
                      <td> <%= f.submit 'Remove', class: "btn btn-danger"%></td>        
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <%else%>
              <h5 class="text-white font-weight-bold">There are no QAs in this project.</h5> 
            <%end%>
            <% end %>
       </div>
    </div>
</header>
<br>            
<br>
<%= link_to 'Edit', edit_project_path(@project) , class: "btn btn-primary" %> |
<%= link_to 'Back', projects_path, class: "btn btn-primary" %>
